@import url(https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap);

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#content {
    flex: 1;
}

.top-right {
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.top-right a {
    transition: opacity 0.5s ease;
    text-decoration: none;
    color: #888;
}

.top-right a:hover {
    color: rgb(186, 219, 228);
}

.centered {
  margin: 0 auto;
  max-width: 700px;
  font-family: 'Tajawal', Helvetica;
}

#twitch-link {
  color: gray;
  text-decoration: none;
  border-bottom: 1.5px solid rgb(186, 219, 228);
  display: inline;
}

#twitch-link:hover {
  color:rgb(186, 219, 228);
  font-weight: bold;
}

#footer{
  padding: 25px;
  text-align: center;
  margin-top: 150px;
}

#footer a img {
    transition: filter 0.3s ease;
}

#footer a:hover img {
    color: rgb(186, 219, 228);
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

p {
  font-size:16px;
  font-family: 'Tajawal', Helvetica;
  line-height: 1.5;
  color: #191919;
}

li {
  font-size:16px;
  font-family: 'Tajawal', Helvetica;
  line-height: 1.5;
  color: #191919;
}

h1, h2 {
  margin: 7px;
  font-family: 'Tajawal', Helvetica;
  font-weight:700;
}

h3 {
  font-family: 'Tajawal', Helvetica;
  color: #191919;
  margin-top: 40px;
  font-size: 25px
}

.resume-item {
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-family: 'Tajawal', Helvetica;
    padding-bottom: none;
}

.date {
    text-align: left;
    font-family: 'Inconsolata', Helvetica;
}

.location {
    font-weight: bold;
    font-family: 'Tajawal', Helvetica;
}

:root {
    --button-padding: 1em;
    --space-for-arrow: 2em;
  }

.resume-link {
    position: relative;
    padding-block: 0.5em;
    padding-inline-start: var(--space-for-arrow);
    padding-inline-end: var(--button-padding);
    border: none;
    border-radius: 30px;
    background-color: transparent;
    cursor: pointer;
    transition: padding 250ms ease, background-color 250ms ease;
    text-decoration: none;
    color: black;
    font-family: 'Tajawal', Helvetica;
}

.resume-link::before {
  position: absolute;
  content: url('../assets/images/arrow.svg');
  background-size: 1em;
  inset-block-start: 50%;
  inset-inline-start: .25em;
  transform: translateY(-50%);
  padding: 3px 4px 1px 4px;
  border-radius: 30px;
  background-color: rgb(186, 219, 228);
  line-height: 1;
  transition: inset-inline-start 250ms ease;
}

.resume-link:hover {
  padding-inline-start: var(--button-padding);
  padding-inline-end: var(--space-for-arrow);
  background-color: rgb(186, 219, 228);
  color: white;
}

.resume-link:hover::before {
  inset-inline-start: calc(100% - 1.75em);
}

.resume-link-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.project-img {
  transition: transform 0.3s ease;
}

.project-img:hover {
  transform: scale(1.1); 
}

#project-header {
  font-family: 'Tajawal', Helvetica;
  color: #191919;
  margin-top: 40px;
  font-size: 18px;
  margin-bottom: 0px;
  font-weight: bold;
}

#project-date {
  font-size: 14px;
  font-style: italic;
  font-family: 'Tajawal', Helvetica;
  line-height: 1.5;
  color: #191919;
  margin-top: 0
}

#project-description {
  font-size: 14px;
  font-family: 'Inconsolata', Helvetica;
  line-height: 1.5;
  color: #191919;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  box-sizing: border-box;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.image-container {
  position: relative;
  display: inline-block;
}