@import url(https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap);

.top-right {
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 40px;
}
.centered {
  margin: 0 auto;
  max-width: 700px;
}

#footer{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px;
  text-align: center;
}

#footer:hover {
    top: -5px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

p {
  font-size:16px;
  font-family: 'Tajawal', Helvetica;
  line-height: 1.5;
  color: #191919;
  padding-bottom: 15px;
}

li {
  font-size:16px;
  font-family: 'Tajawal', Helvetica;
  line-height: 1.5;
  color: #191919;
}

h1, h2 {
  margin: 7px;
  font-family: 'Tajawal', Helvetica;
  font-weight:700;
}

h3 {
  font-family: 'Tajawal', Helvetica;
  color: #191919;
  margin-top: 40px;
  font-size: 25px
}